@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 28 100% 53%;
    --primary-foreground: 60 9% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 20 7% 8%;
    --foreground: 60 9% 98%;

    --card: 20 7% 8%;
    --card-foreground: 60 9% 98%;

    --popover: 20 7% 8%;
    --popover-foreground: 60 9% 98%;

    --primary: 28 100% 53%;
    --primary-foreground: 60 9% 98%;

    --secondary: 30 7% 16%;
    --secondary-foreground: 60 9% 98%;

    --muted: 30 8% 24%;
    --muted-foreground: 27 8% 49%;

    --accent: 28 73% 16%;
    --accent-foreground: 60 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 24 8% 12%;
    --input: 30 9% 18%;
    --ring: 28 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply min-h-screen antialiased bg-background text-foreground;
  }
}